 table
      tr
        td 
          p Data danego dnia
        td
           
        td
          
        td
          
        td
          
        td
          
        td
          
        td
           
        td
           
        td
          
        td
          
        td
              
        td
